.boardDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}


.current-card-div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.current-card{
    justify-content: center;
    align-self: center;
}